<%-partial('./view/partials/common/vars') %>

<% layout('./view/layout/page') -%>
<% block('title', blocks.homepagetitle); -%>

<%-partial('./view/partials/sections/first-screen') %>
<%-partial('./view/partials/sections/about') %>
<%-partial('./view/partials/sections/services') %>
<%-partial('./view/partials/sections/gallery') %>
<%-partial('./view/partials/sections/subscribe') %>
<%-partial('./view/partials/sections/blog') %>
<%-partial('./view/partials/sections/contact') %>
<%-partial('./view/partials/sections/map') %>
<%-partial('./view/partials/sections/footer') %>
<!-- <h1><%= blocks.title %></h1> -->
