<% const arr = ['animals','people','nature'] %>

<section class="banner">
	<div class="container">
		<div class="row justify-content-center mb-150">
			<div class="col-8">
				<h1 class="banner__title">let`s draw some arts</h1>
				<h2 class="banner__subtitle"><span class="banner__subtitle-element">&</span>make your business much better</h2>
			</div>
		</div>

		<div class="row justify-content-end">
			<div class="col-8">
				<div id="carouselExampleInterval" class="carousel slide" data-ride="carousel">
					<div class="carousel-inner">
						<% arr.forEach(function(el, index){ %>
						<% let className = 'carousel-item'; %>
						<% if (index === 0) className += ' active'; %>
						<div class="<%= className %>" data-interval="10000">
							<img src=" <%= blocks.imgholder %>/300/100/<%= el %>" class="d-block w-100" alt="...">
							<div class="carousel-item__review">
								<img class="carousel-item__review-img" src="<%= blocks.imgholder %>/50/50/<%= el %>" class="d-block w-100" alt="...">
								<span class="carousel-item__review-text">like</span>
							</div>
						</div>
						<% }) %>
					</div>
					<a class="carousel-control-prev" href="#carouselExampleInterval" role="button" data-slide="prev">
						<span class="carousel-control-prev-icon" aria-hidden="true"></span>
						<span class="sr-only">Previous</span>
					</a>
					<a class="carousel-control-next" href="#carouselExampleInterval" role="button" data-slide="next">
						<span class="carousel-control-next-icon" aria-hidden="true"></span>
						<span class="sr-only">Next</span>
					</a>
				</div>
			</div>
		</div>
	</div>
</section>