<%-partial('./view/partials/common/vars') %>

<% layout('./view/layout/page') -%>
<% block('title', blocks.hometitle); -%>

<%-partial('./view/partials/sections/nav') %>



<%-partial('./view/partials/sections/map') %>
<%-partial('./view/partials/sections/form') %>
<%-partial('./view/partials/sections/footer') %>

<!-- <h1><%= blocks.title %></h1> -->
