<%-partial('./view/partials/common/vars') %>

<% layout('./view/layout/page') -%>
<% block('title', blocks.hometitle); -%>

<%-partial('./view/partials/sections/header') %>
<%-partial('./view/partials/sections/first-screen') %>
<%-partial('./view/partials/sections/history') %>
<%-partial('./view/partials/sections/portfolio') %>
<!-- <%-partial('./view/partials/sections/services') %> -->


<!-- <%-partial('./view/partials/sections/map') %> -->
<%-partial('./view/partials/sections/form') %> 
<%-partial('./view/partials/sections/footer') %>

<!-- <h1><%= blocks.title %></h1> -->
